<div class="recettes-container">
  <h1 id="index-recette-title">Quoi de bon au menu aujourd'hui ?</h1>
  <div class="search-bar d-flex justify-content-start">
    <%= form_with url: recettes_path, method: :get, id: "search-form" do %>
      <%= text_field_tag :query,
            params[:query],
            class: "form-control",
            placeholder: "Rechercher une recette",
            autocomplete: "off",
            id: "search-input",
            autofocus: true %>
    <% end %>
  </div>
  <div class="recettes-filtre" data-controller="boutton-repas">
    <%# <%= link_to "Petit-déjeuner", recettes_path(repas_de_la_journee: "Petit-déjeuner"), class: "repas", data: { action: "click->boutton-repas#changepetitdej", boutton_repas_target:"petit" } %>
    <p class="repas"
    data-action="click->boutton-repas#petitdej"
    data-boutton-repas-target="petit">Petit-déjeuner</p>
    <%= link_to "Déjeuner", recettes_path(repas_de_la_journee: "Déjeuner"), class: "repas", data: { action: "click->boutton-repas#changedej", boutton_repas_target:"dej" } %>
    <%= link_to "Dîner", recettes_path(repas_de_la_journee: "Dîner"), class: "repas", data: { action: "click->boutton-repas#changediner", boutton_repas_target:"diner" } %>
    <%= link_to "Dessert", recettes_path(repas_de_la_journee: "Dessert"), class: "repas", data: { action: "click->boutton-repas#changedessert", boutton_repas_target:"dessert" } %>
  </div>
  <% @recettes.each do |recette| %>
    <div class="recettes-card" data-repas=<%=recette.repas_de_la_journee%>>
      <%= image_tag url_for(recette.photo), class: "recettes-img" %>
      <div class="recettes-icons">
        <%# like = Like.where(user_id: current_user.id).first %>
        <%#= link_to "#", data: {turbo_method: :patch} do %>
          <%# if like.like_flag == 0 %>
            <%# <svg width="24" height="21" viewBox="0 0 30 26" xmlns="http://www.w3.org/2000/svg">
              <path d="M13.2305 24.9245L13.084 24.7897L2.81836 15.2565C1.01953 13.5866 0 11.2429 0 8.78779V8.59443C0 4.46943 2.92969 0.930371 6.98438 0.156934C9.29297 -0.288379 11.6543 0.244824 13.5352 1.56904C14.0625 1.94404 14.5547 2.37764 15 2.87568C15.2461 2.59443 15.5098 2.33662 15.791 2.09639C16.0078 1.90889 16.2305 1.73311 16.4648 1.56904C18.3457 0.244824 20.707 -0.288379 23.0156 0.151074C27.0703 0.924512 30 4.46943 30 8.59443V8.78779C30 11.2429 28.9805 13.5866 27.1816 15.2565L16.916 24.7897L16.7695 24.9245C16.2891 25.3698 15.6562 25.6218 15 25.6218C14.3438 25.6218 13.7109 25.3757 13.2305 24.9245ZM14.0098 5.98701C13.9863 5.96943 13.9688 5.946 13.9512 5.92256L12.9082 4.75068L12.9023 4.74482C11.5488 3.22725 9.50391 2.53584 7.51172 2.9167C4.78125 3.43818 2.8125 5.81709 2.8125 8.59443V8.78779C2.8125 10.4577 3.50977 12.0573 4.73438 13.194L15 22.7272L25.2656 13.194C26.4902 12.0573 27.1875 10.4577 27.1875 8.78779V8.59443C27.1875 5.82295 25.2188 3.43818 22.4941 2.9167C20.502 2.53584 18.4512 3.23311 17.1035 4.74482C17.1035 4.74482 17.1035 4.74482 17.0977 4.75068C17.0918 4.75654 17.0977 4.75068 17.0918 4.75654L16.0488 5.92842C16.0312 5.95186 16.0078 5.96943 15.9902 5.99287C15.7266 6.25654 15.3691 6.40303 15 6.40303C14.6309 6.40303 14.2734 6.25654 14.0098 5.99287V5.98701Z"/>
            </svg> %>
          <%# else %>
            <%# <p><i class="fa-solid fa-heart"></i></p> %>
          <%# end %>
        <%# end %>
        <%= link_to new_choix_recette_path(recette_id: recette.id) do %>
          <svg width="48" height="42" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
            <path d="M256 80c0-17.7-14.3-32-32-32s-32 14.3-32 32l0 144L48 224c-17.7 0-32 14.3-32 32s14.3 32 32 32l144 0 0 144c0 17.7 14.3 32 32 32s32-14.3 32-32l0-144 144 0c17.7 0 32-14.3 32-32s-14.3-32-32-32l-144 0 0-144z"/>
          </svg>
        <% end %>
      </div>
      <h4><%= link_to recette.nom, recette_path(recette), class: "text-decoration-none" %></h4>
    </div>
  <% end %>
</div>
