<div class="container">
  <div class="row mt-3">
    <div class="col text-center">
      <%= image_tag url_for(@recette.photo), style: "width:300px;height:300px;object-size:cover;object-position:center;" %>
      <h2><%= @recette.nom %></h2>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <h5>Valeurs Nutritionnelles</h5>
      <ul>
        <li>Calories: <%= @recette.calories %></li>
        <li>Lipides: <%= @recette.lipides %>g </li>
        <li>Glucides: <%= @recette.glucides %>g </li>
        <li>Protéines: <%= @recette.proteines %>g</li>
      </ul>
      <p>Temps de préparation: <%= @recette.temps_de_preparation %>min</p>
      <p>Niveau de difficulté: <%= @recette.difficulte %></p>
      <p>Ingrédients: <%= @recette.ingredients %></p>
      <p>Tips: <%= @recette.tips %></p>
      <p>Tags: <%= @recette.tags %></p>
    </div>
    <div class="col-6">
      <p>Instructions: <%= @recette.instructions %></p>
    </div>
  </div>

  <div class="row">
    <h3>Avis des Fitos</h3>
  </div>
  <div class="row">
    <%= render "reviews/new_review", recette: @recette, user: current_user, review: @review%>
  </div>
  <div class="row">
    <ul>
      <% @reviews.reverse.each do |review| %>
        <li class="my-3" style="background-color:#dadada; padding:10px;">
          <%= render "reviews/review_content", review: review %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
