<nav class="navbar-bottom">
  <%= link_to posts_path, class: 'nav-item' do %>
    <%= image_tag 'icons/home.svg', class: 'nav-icon' %>
  <% end %>

  <%= link_to "#", class: 'nav-item' do %>
    <%= image_tag 'icons/stats.svg', class: 'nav-icon' %>
  <% end %>

  <%= link_to recettes_path, class: 'nav-item' do %>
    <%= image_tag 'icons/food.svg', class: 'nav-icon' %>
  <% end %>

  <%= link_to dashboard_path, class: 'nav-item' do %>
    <%= image_tag 'icons/user.svg', class: 'nav-icon' %>
  <% end %>
</nav>
