<div class="user-info-container">
  <div class="user-info-header">
    <h1>Bonjour <%= user.prenom.capitalize %> !</h1>
    <%= cl_image_tag user.photo.key, class: "profile-picture" %>
  </div>

  <div class="user-info-details">
    <div class="infos-details" data-controller="dashboard-details">

      <div class="infos" data-action="click->dashboard-details#toggleInfos">
        <p>Vos informations</p>
        <svg data-dashboard-details-target="infosIcon" class="toggle-icon-tobottom" width="14" height="7" viewBox="0 0 25 15" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M25 2.52564C24.9999 3.18729 24.7367 3.8218 24.2684 4.28959L14.2807 14.2695C13.8124 14.7372 13.1774 15 12.5153 15C11.8532 15 11.2183 14.7372 10.75 14.2695L0.762284 4.28959C0.523802 4.05943 0.33358 3.78413 0.202718 3.47973C0.0718564 3.17533 0.00297528 2.84794 9.42768e-05 2.51666C-0.00278672 2.18538 0.0603894 1.85684 0.185937 1.55022C0.311485 1.24359 0.49689 0.965024 0.731334 0.730763C0.965778 0.496504 1.24457 0.311244 1.55143 0.185794C1.85829 0.0603437 2.18709 -0.00278473 2.51863 9.34601e-05C2.85017 0.0029726 3.17782 0.0718002 3.48245 0.202559C3.78709 0.333319 4.06261 0.523393 4.29294 0.761689L12.5153 8.97765L20.7377 0.761689C21.0869 0.412868 21.5318 0.175329 22.0161 0.0791044C22.5004 -0.0171213 23.0023 0.0322847 23.4585 0.221081C23.9147 0.409876 24.3046 0.729583 24.579 1.13978C24.8534 1.54998 24.9999 2.03226 25 2.52564Z" fill="#FFFACD"/>
        </svg>
      </div>

      <ul data-dashboard-details-target="infos">
        <div>

          <div class="" id="infos-top">
            <div class="left-field">
              <li class="info"><p>Prénom</p></li>
              <li class="info"><p>Nom</p></li>
              <li class="info"><p>Age</p></li>
            </div>
            <div class="middle-field">
              <li class="info"><p><%= user.prenom.capitalize %></p></li>
              <li class="info"><p><%= user.nom.capitalize %></p></li>
              <li class="info"><p><%= user.age %> ans</p></li>
            </div>
            <div class="right-field">
              <div class="infos-mensuration">
                <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M7.5 10.3125C7.5 8.32338 8.29018 6.41572 9.6967 5.0092C11.1032 3.60268 13.0109 2.8125 15 2.8125C16.9891 2.8125 18.8968 3.60268 20.3033 5.0092C21.7098 6.41572 22.5 8.32338 22.5 10.3125C22.5 12.3016 21.7098 14.2093 20.3033 15.6158C18.8968 17.0223 16.9891 17.8125 15 17.8125C13.0109 17.8125 11.1032 17.0223 9.6967 15.6158C8.29018 14.2093 7.5 12.3016 7.5 10.3125ZM22.957 3.75C21.0645 1.45898 18.2051 0 15 0C11.7949 0 8.93555 1.45898 7.04297 3.75H3.75C1.68164 3.75 0 5.43164 0 7.5V26.25C0 28.3184 1.68164 30 3.75 30H26.25C28.3184 30 30 28.3184 30 26.25V7.5C30 5.43164 28.3184 3.75 26.25 3.75H22.957ZM17.3438 13.125C17.3438 12.5039 17.1035 11.9414 16.7051 11.5195L18.6738 6.93164C18.8789 6.45703 18.6562 5.90625 18.1816 5.70117C17.707 5.49609 17.1562 5.71875 16.9512 6.19336L14.9824 10.7812C13.6934 10.7871 12.6562 11.8359 12.6562 13.125C12.6562 14.4199 13.7051 15.4688 15 15.4688C16.2949 15.4688 17.3438 14.4199 17.3438 13.125Z" fill="#FFFACD"/>
                </svg>
                <li class="info"><p><%= user.poids %>kg</p></li>
              </div>
                <div class="infos-mensuration">
                  <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M10.3576 29.1654C9.24462 30.2782 7.43527 30.2782 6.31634 29.1654L0.834739 23.679C-0.278246 22.5662 -0.278246 20.7572 0.834739 19.6385L3.8523 16.6215L6.70916 19.4778C7.07817 19.8468 7.68525 19.8468 8.05426 19.4778C8.42327 19.1089 8.42327 18.5019 8.05426 18.133L5.1974 15.2767L7.66144 12.8132L10.5183 15.6694C10.8873 16.0384 11.4944 16.0384 11.8634 15.6694C12.2324 15.3005 12.2324 14.6935 11.8634 14.3246L9.00655 11.4683L11.4706 9.00476L14.3274 11.8611C14.6965 12.23 15.3035 12.23 15.6726 11.8611C16.0416 11.4921 16.0416 10.8852 15.6726 10.5162L12.8157 7.65992L15.2797 5.19637L18.1366 8.05266C18.5056 8.4216 19.1127 8.4216 19.4817 8.05266C19.8507 7.68372 19.8507 7.07676 19.4817 6.70783L16.6248 3.85153L19.6424 0.834573C20.7554 -0.278191 22.5647 -0.278191 23.6837 0.834573L29.1653 6.31508C30.2782 7.42785 30.2782 9.23683 29.1653 10.3555L10.3576 29.1654Z" fill="#FFFACD"/>
                  </svg>
                  <li class="info"><p><%= (user.taille).fdiv(100) %>m</p></li>
              </div>
            </div>
          </div>

          <div class="infos-part" id="infos-bottom">
            <li class="info">
              <p class="user-info-field">Objectif physique</p>
              <p><%= user.objectif_physique.capitalize %></p>
            </li>
          </div>

        </div>
      </ul>

    </div>
  </div>
</div>
