<div class="show-avis-header">
  <%= cl_image_tag review.user.photo.key, class: "profile-picture" %>
  <div class="show-avis-username">
    <p><%= review.user.prenom.capitalize %> <%= review.user.nom.capitalize %></p>
  </div>
  <div class="show-avis-content">
    <p><%= review.commentaire %></p>
  </div>
  <div class="rating">
    <% Review::AUTHORIZED_RATINGS.each do |number| %>
      <i class="fa<%= (number > review.note) ? 'r' : 's' %> fa-star"></i>
    <% end %>
  </div>
  <% if current_user == review.user %>
    <%= link_to review_path(review), data: { turbo_method: :delete, turbo_confirm: "Êtes-vous sûr ?" } do %>
      <svg width="24" height="21" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
        <path d="M135.2 17.7L128 32 32 32C14.3 32 0 46.3 0 64S14.3 96 32 96l384 0c17.7 0 32-14.3 32-32s-14.3-32-32-32l-96 0-7.2-14.3C307.4 6.8 296.3 0 284.2 0L163.8 0c-12.1 0-23.2 6.8-28.6 17.7zM416 128L32 128 53.2 467c1.6 25.3 22.6 45 47.9 45l245.8 0c25.3 0 46.3-19.7 47.9-45L416 128z", fill="#1E3932"/>
      </svg>
    <% end %>
  <% end %>
</div>
